# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
.env.*

# Ignore virtual environments
venv/
env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/project config files
.vscode/
.idea/

# Ignore sensitive credentials
service_account.json
credentials.json
